[user]
	name = xxx
	email = xxx@163.com
[core] 
	excludesfile = ~/.gitignore
	ignorecase = false # 区分大小写
[alias]
	# s = status
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[credential]
	helper = store
